@import './../../../variables';

.irrPreview {

    display: grid;
    grid-template-columns: 25% auto;
    grid-row-gap: 5px;
    column-gap: 15px;
  
}

.irrPreview-label {
    text-align: right;
}

@media (max-width: $md) {
    .irrPreview{
        font-size: 12px;
    }

}
@media (max-width: $sm) {
    .irrPreview{
        font-size: 10px;
    }
}