
tr.userinfo-row td{
    border-bottom: 1px dotted black;
}

.userinfo-button-delete {
    background-color: lightcoral;
    width: 75px;
}

.userinfo-button-edit {
    background-color: lightskyblue;
    width: 75px;
}

.userinfo-button-save {
    background-color: lightgreen;
    width: 75px;
}

.userinfo-button-cancel {
    background-color: lightyellow;
    width: 75px;
}