.home {
    float: right;
    position: fixed;
    left: 10vw;
    width: 85vw;
    padding: 10px;
    background-color: coral;
}

.textPosition {
    padding: 10px;
    text-align: left;
    background-color: wheat;
}

.toTheLeft{
    float: left;
}
