.labeldiv {
    width: 25vw;
    text-align: right;
    float: left;
}

.contentsdiv {
    position: fixed;
    right: 5vw;
    width: 55vw;
    text-align: left;

}

.frameContainer {

    height: auto;
    width: 80vw;
    padding: 10px;

}

.partContainer {
    float: left;
}

.general {
    padding: 10px;
    margin-bottom: 10vh;
}