.pName {
    position: fixed;
    right: 40vw;
    top: 15vh;
    height: 30px;
    }

.pLogin2 {
    position: fixed;
    right: 40vw;
    top: 20vh;
    height: 30px;
    }

.pPass1 {
    position: fixed;
    right: 40vw;
    top: 25vh;
    height: 30px;
    }

.pPass2 {
    position: fixed;
    right: 40vw;
    top: 30vh;
    height: 30px;
    }

  
.button2 {
    background-color: cornflowerblue;
    color: black;
    font-weight: bold;
    width: 20vw;
    height: 3vh;
    position: fixed;
    right: 40vw;
    top: 37vh;
    }

.frame {
    border: black 1px solid;
}

.aLink{
    position: fixed;
    right: 40vw;
    top: 45vh;
}