.tableStyle{
    width: 50vw;
    border: 2pt solid black;
 }

.tdStyle {
    border: 1pt dotted black;
}

.buttonDeleteTable {
    width: 5vw;
    background-color: red;
    color: white;
}

.buttonRoleTable {
    width: 5vw;
    background-color: green;
    color: white;
}

.mainDiv {
    padding: 10px;
}