@import './../../variables';

.header {

    border-bottom: 1px solid black;

    &-wrap {
        display: grid;
        grid-template-columns: 75% 25%;
        padding-bottom: 10px;
    }

    &-title {
        font-size: 30px;
        text-align: center;
    }

    &-user {
        font-size: 15px;
        align-self: flex-start;
        text-align: right;
    }
}

.header-logout-shown {
    height: 50px;
    background-color: $buttonColor;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

