.header {

    &-img {
        width: 100%;
    }

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-title {
        font-size: 30px;
    }

    &-user {
        font-size: 15px;
        align-self: end;
    }
}
