@import './../../variables';

.header {

    border-bottom: 1px solid black;

    &-wrap {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    &-title {
        font-size: 30px;
        text-align: center;
    }

    &-user {
        text-align: right;
    }

    &-image {
        align-self: center;
        height: 75px;
    }

    &-button {
        background-color: $buttonColor;
        border-radius: 5px;
        height: 75px;
        width: 75px;
    }

    &-button:hover {
        background-color: blue;
        color: white;
    }

    &-main {
        border: 1px solid black;
        border-radius: 5px;
        height: 75px;
        width: 75px;
        text-align: center;
        align-items: center;
    }
}


