@import './../../variables.scss';

.userspanel {
    margin-top: 10px;
}

.userspanel-table{
    padding: 10px;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

.userspanel-button-save {
    background-color: lightgreen;
    width: 75px;
}

.userspanel-button-cancel {
    background-color: lightyellow;
    width: 75px;
}